<ul *ngIf="todosService.todos.length; else noTodos">
    <div class="filter">
        <input type="text" placeholder="Filter by title..." [(ngModel)]='search'>
    </div>
    <li class="li" *ngFor="let todo of todosService.todos | todosFilter:search let i = index">
        <p id="{{todo.id}}" class="animation-head"></p>
        <span [class.done]="todo.completed">
            <img *ngIf="!todo.completed" src="assets/head.png" (click)="onChange(todo.id)" />
            <img *ngIf="todo.completed" src="assets/head2.png" (click)="onChange(todo.id)" />
            {{todo.title}}
        </span>
        <small>{{todo.date | date:'shortTime'}}</small>
        <button class=" rm" (click)="removeTodo(todo.id)">x</button>
    </li>
</ul>

<ng-template #noTodos>
    <p class="noTodos">No todos now</p>
</ng-template>