.container{
    font-family: 'Tourney', cursive;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1{
        color: white;
        font-size: 64px;
        margin: 95px 0 40px;
    }
}